body {
	background-color: ghostwhite;
	font-family: Tahoma, Geneva, sans-serif;
}

h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: Tahoma, Geneva, sans-serif;
	position: relative;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15%;
	color: indianred;
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 10px 0 10px;
	background: #fff;
}

h2 {
    margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: indianred;
	background: indianred;
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: Tahoma, Geneva, sans-serif;
}

h3 {
    margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: Tahoma, Geneva, sans-serif;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	color: indianred;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}

h4 {
    margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: Tahoma, Geneva, sans-serif;
	position: relative;
	font-size: 18px;
	line-height: 20px;
	color: #788699;
	font-family: Tahoma, Geneva, sans-serif;
}

/* Won't be used here */

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

ul#list {
	list-style-type: circle;
}

ul#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color #333333;
}

li#menu {
	float: left;
}

li#menu a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 50px;
	text-decoration: none;
}

li#menu a:hover {
	background-color: #d57676;
}

li#current {
	float: left;
}

li#current a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 50px;
	text-decoration: none;
	background-color: indianred;
}

li#current a:hover {
	background-color: indianred;
}

a:link, a:visited {
	background-color: gray;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: tomato;
}